RewriteEngine on

# Allow access to existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything else to index.php
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

# Fix the timezone
php_value date.timezone "Asia/Manila"